* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

/*=== HEADER ===*/

header {
    background-color: black;
    padding: 27px;
    margin-bottom: 55px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav .links {
    margin-left: 50.4px
}

header nav .links a {
    text-decoration: none;
    font-weight: 700;
    margin-right: 30px;
    color: #999;
}

header nav .links a.active {
    color: white;
}
/*=== MAIN ===*/

h2 {
    margin-bottom: 30px;
}

.button {
    text-align: center;
    padding: 9px 0 9px 0;
    text-decoration: none;
    background-color: #6558C3;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    display: inline-block;
    width: 136px;
    height: 37px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.button.delete {
    background-color: #DC4747;
}

.h2-and-button {
    display: flex;
    justify-content: space-between;
}

fieldset legend {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

fieldset input,
fieldset select{
    font-size: 16px;
    border: 1px solid #DDD;
    border-radius: 4px;
    width: 100%;
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
    outline: none;
}

form a {
    font-weight: bold;
    font-size: 16px;
    color: #6558C3;
    cursor: pointer;
}

.add-button {
    margin-bottom: 30px;
}

fieldset textarea {
    font-size: 16px;
    resize: none;
    border: 1px solid #DDD;
    border-radius: 4px;
    width: 100%;
    height: 257px;
    outline: none;
    padding: 15px;
}


