{% extends "layout.njk" %}

{% block content %}
<main>
    <div class="card table-container">
        <a href="/professores/criar" class="button">Novo</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Nome completo</th>
                    <th>Acompanhamento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                <tr>
                    <td>
                        <span style="background-image: url({{ teacher.avatar_url }})"></span>
                        {{ teacher.name }}
                    </td>
                    <td>
                        {% for acting in teacher.acting.split(",") %}
                            <span>{{ acting }}</span>
                        {% endfor %}
                    </td>
                    <td><a href="/professores/{{ teacher.id }}">Ver</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock content %}