{% extends 'main/layout.njk' %}

{% block head %}
    <title>Foodfy | Chefs</title>
    <link rel="stylesheet" href="/main/chefs.css">
{% endblock %}

{% block content %}
<main class="container">
    <section>

        {% for chef in chefs %}
        <div class="chef">
            <figure>
                <img src="{{ chef.avatar_url }}" alt="Chef image">
            </figure>
            <div class="chef-content">
                <p>{{ chef.name }}</p>
                <p>
                    {% if chef.total_recipes == 0 %}
                        Nenhuma receita
                    {% elif chef.total_recipes == 1 %}
                        {{ chef.total_recipes }} receita
                    {% else %}
                        {{ chef.total_recipes }} receitas
                    {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}

    </section>
</main>
{% endblock %}